@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
/* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
}

/* Styles for main tasklist container */
.container {
    height: 100vh;
    width: 100vh;
}

/* Style for the tasklist container */
.content {
    background-image: linear-gradient(135.97deg, #685d6e 1.84%, #6d6d6d 102.67%);
    box-shadow: 0 0 10px 0 #373737;
    justify-content: center;
    display: flex;
    scrollbar-width: none;
    height: 100vh;
    width: 80vw;
    overflow: auto;
    position: fixed;
    right: 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
     box-sizing: border-box;
}

/* Basic form styling for sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg, #49414d 1.84%, #594c58 102.67%);
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Styling for todo logo */
.todo {
    font-family: 'Manrope';
    font-size: 2em;
    font-weight: 900;
    background-color: #AE67FA;
    background-image: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    background-size: 100%;
    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.error {
    color: red;
  }
  
  .tooltip-container {
    position: relative;
  }
  
  .error-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 4px;
    top: -35px; /* Adjust this value to position it right above the input */
    left: 0;
    transform: translateX(50%);
    transition: opacity 0.2s, transform 0.2s;
  }
  
  .tooltip-container:hover .error-tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(50%);
    transition: opacity 0.2s, transform 0.2s;
  }

span { 
font-family: 'Manrope'; 
font-weight: bold;
}

/* Styling for buttons */
label, input, button {
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: none;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
}

#delete {
    background-color: #ffffff;
    color: #8b8b8b;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

#open_in_new {
    background-color: #ffffff;
    color: #8b8b8b;
    height: 100%;
    border-radius: 0;
}

#delete:hover {
    color: #ffffff;
    background-color: #b30000;
}

.delete_button {
    position: absolute;
    height: 100%;
    right: -1%;
    display: flex;
    align-items: center;
}

#open_in_new:hover {
    color: #ffffff;
    background-color: #009b10;
}

.open_button {
    position: absolute;
    height: 100%;
    right: 10%;
    display: flex;
    align-items: center;
}

#settings {
    display: flex !important;
    justify-content: center !important;
}

.settings_button {
    display: flex;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: none;
    background-color: transparent;
    color: #9a9a9a;
    padding: 8px 16px;
    border-radius: 4px;
}

#settings {
    font-size: 25px;
    margin-top: 2px;
}

.settings_text {
    margin-top: 3px;
    margin-left: 7px;
    vertical-align: middle;
}

.settings_button:hover {
    color: #ffffff;
    background-color: #979797;
}

.add_task:hover {
    background-color: #0056b3;
}

h1 {
    color: darkblue;
}

/* Task list element styling */
ul {
    height: 10vh;
    justify-content: left;
    display: grid;
    margin-top: 2vh;
    margin-bottom: 2vh;
    grid-template-columns: repeat(2, minmax(37vw, 1fr));
    grid-gap: 20px;
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    background-color: #ffffff;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    transition: transform 0.1s ease;
}

li:hover {
    transform: scale(1.01);
}

/* Basic form styling for inputs */
#task {
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #f2f2f2;
    background-color: #252525;
    border: none;
    border-radius: 3px;
    height: 25px;
    width: 95%;
}

#task:focus {
    outline:none !important ;
}

input[type="datetime-local"] {
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #f2f2f2;
    background-color: #252525;
    border: none;
    border-radius: 3px;
    height: 25px;
    width: 95%;
}

.add_task {
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #f2f2f2;
    background-color: #2a49fa;
    border: none;
    border-radius: 3px;
    height: 35px;
    width: 96%;
}

/* Transitions for task deletion and adding */
.fade-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 300ms, transform 50ms;
  }
  
  .settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .settings-content {
    background: #49414d;
    height: 80vh;
    width: 65vw;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  #close {
    color: rgb(171, 171, 171);
    background-color: rgba(0, 0, 0, 0);
  }

  #close:hover {
    color: rgb(206, 206, 206);
    transform: scale(1.01)
  }

  h3 {
    /* Style for the title */
    margin-top: 0px;
    color: greenyellow
  }
  
  .setting-item {
    /* Style for each setting item */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .setting-name {
    /* Style for the setting name on the left */
    flex: 1;
    color:greenyellow
  }
  
  .toggle {
    /* Style for the toggle switch container */
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .toggle input {
    /* Style for the actual checkbox input */
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    /* Style for the slider */
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 24px;
  }
  
  .slider:before {
    /* Style for the slider's handle */
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #009b10;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #009b10;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .separator {
    width: 100%;
    height: 0.75px;
    color: #676767; /* Adjust the color as needed */
    margin: 10px 0; /* Adjust the margin as needed for spacing */
    box-shadow: none;
  }

/* Responsive styles */
@media (max-width: 768px) {
    form {
        width: 100%;
    }
}