/* Style for the tasklist container */
.default .content {
    background-image: linear-gradient(135.97deg, #564c5b 1.84%, #564c5b 102.67%);
    box-shadow: 0 0 10px 0 #373737;
    justify-content: center;
    display: flex;
    scrollbar-width: none;
    height: 100vh;
    width: 80vw;
    overflow: auto;
    position: fixed;
    right: 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
     box-sizing: border-box;
}

/* Basic form styling for sidebar */
.default .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg, #49414d 1.84%, #594c58 102.67%);
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.default .settings_button {
    display: flex;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: none;
    background-color: transparent;
    color: #9a9a9a;
    padding: 8px 16px;
    border-radius: 4px;
}

.default .settings_text {
    margin-top: 3px;
    margin-left: 7px;
    vertical-align: middle;
}

.default .settings_button:hover {
    color: #ffffff;
    background-color: #5E6267;
}

/* Basic form styling for inputs */
.default #task {
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #f2f2f2;
    background-color: #252525;
    border: none;
    border-radius: 3px;
    height: 25px;
    width: 95%;
}

.default input[type="datetime-local"] {
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #f2f2f2;
    background-color: #252525;
    border: none;
    border-radius: 3px;
    height: 25px;
    width: 95%;
}

.default .settings-content {
    background: #49414d;
    height: 80vh;
    width: 65vw;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.default h3 {
    /* Style for the title */
    margin-top: 0px;
    color: white;
}
  
.default .setting-name {
    /* Style for the setting name on the left */
    flex: 1;
    color: white;
}

.default .custom-select {
    min-width: 110px;
}
  
.default select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    padding: 0.5em 2em 0.5em .5em;
    background-color: #252525;
    border: none;
    color: white;
    cursor: pointer;
}

.default .clear-task {
    color: white;
    background: none;
    border: 1px solid red;
}

.default .clear-task:hover {
    color: white;
    background: red;
    border: 1px solid red;
}