/* Style for the tasklist container */
.light .content {
    background-image: linear-gradient(135.97deg, #efefef 1.84%, #efefef 102.67%);
    box-shadow: 0 0 1px 0 #373737;
    justify-content: center;
    display: flex;
    scrollbar-width: none;
    height: 100vh;
    width: 80vw;
    overflow: auto;
    position: fixed;
    right: 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Basic form styling for sidebar */
.light .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg, #f4f4f4 1.84%, #f4f4f4 102.67%);
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.light .settings_button {
    display: flex;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: none;
    background-color: transparent;
    color: #5E6267;
    padding: 8px 16px;
    border-radius: 4px;
}

.light .settings_text {
    margin-left: 7px;
    vertical-align: middle;
    color: #5E6267;
}

.light .settings_button:hover {
    color: #5E6267;
    background-color: #dadada;
}

/* Basic form styling for inputs */
.light #task {
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: black;
    background-color: #dadada;
    border: none;
    border-radius: 3px;
    height: 25px;
    width: 95%;
}

.light input[type="datetime-local"] {
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: black;
    background-color: #dadada;
    border: none;
    border-radius: 3px;
    height: 25px;
    width: 95%;
}

.light .settings-content {
    background: #f4f4f4;
    height: 80vh;
    width: 65vw;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.light h3 { 
    margin: 0;
    color: #5E6267;
}
  
.light .setting-name {
    /* Style for the setting name on the left */
    flex: 1;
    color: #5E6267
}

.light .custom-select {
    min-width: 110px;
}
  
.light select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    padding: 0.5em 2em 0.5em .5em;
    background-color: white;
    border: 1px solid #5E6267;
    color: black;
    cursor: pointer;
}

.light .clear-task {
    color: black;
    background: none;
    border: 1px solid red;
}

.light .clear-task:hover {
    color: white;
    background: red;
    border: 1px solid red;
}